apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth
        image: kennethreitz/httpbin
        ports:
        - containerPort: 80
        env:
        - name: LOG_HEADERS
          value: "false"
